@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, sans-serif;

    /* =========== start background image variables =========== */
    --zKTextGradient: 272.04deg, #8c8dfc 46.24%, #4e529a 99.45%;
    --theme-background-light: linear-gradient(
      125deg,
      #efedff 20%,
      #f0f5ff 50%,
      #f7f2ff 90%
    );
    --theme-background-dark: linear-gradient(115deg, #1c1e30, #1e1e2c);
    --theme-background-link: radial-gradient(
      153.32% 100% at 47.26% 0,
      rgba(54, 90, 209, 0.09) 0,
      rgba(115, 142, 230, 0.05) 48.19%,
      rgba(30, 33, 233, 0.02) 100%
    );
    --theme-background-tokemat: radial-gradient(
      circle at 0 98%,
      #fffffb 0,
      #1d1f1d 0,
      #191a19 32%,
      #161616 100%
    );
    --theme-background-green: radial-gradient(
      153.32% 100% at 47.26% 0,
      rgba(11, 171, 9, 0.09) 0,
      rgba(83, 187, 88, 0.05) 48.19%,
      rgba(136, 213, 34, 0.02) 100%
    );
    --theme-background-bitcon: radial-gradient(
      153.32% 100% at 47.26% 0,
      rgba(225, 129, 11, 0.12) 0,
      rgba(211, 122, 20, 0.07) 48.19%,
      rgba(201, 134, 14, 0.04) 100%
    );
    --theme-background-sakura: radial-gradient(
      153.32% 100% at 47.26% 0,
      rgba(255, 129, 187, 0.12) 0,
      rgba(215, 74, 152, 0.11) 48.19%,
      rgba(237, 113, 193, 0.04) 100%
    );
    --theme-background-white: linear-gradient(
      115deg,
      #f3f3f3,
      #fdfdfd,
      #f3f3f3
    );
    --theme-background-black: #000;
    --theme-background-punk: linear-gradient(
      115deg,
      #260025,
      #12002a 40%,
      #06001a,
      #12002a
    );
    /* =========== end of background image variables =========== */

    /* =========== start of default theme variables =========== */
    --background: var(--theme-background-light);
    --foreground: 222.2 84% 4.9%;
    --white: 255, 255, 255;

    --card: 255, 255, 255;
    --card-foreground: 111, 113, 131;

    --popover: 0, 0, 0, 0.5;
    --popover-foreground: 255, 255, 255;

    --primary: 81, 85, 166;
    --primary-foreground: 6, 8, 40;

    --secondary: 78, 81, 183;
    --secondary-foreground: 81, 85, 166;

    --muted: 219, 219, 219;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 246, 245, 250;
    --accent-foreground: var(--primary);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--primary), 0.5;
    --input: var(--secondary);
    --ring: var(--secondary), 0.5;

    --button-hover: 54, 56, 128;
    --radius: 0.5rem;
    --carousel-btn: 151, 152, 212;

    --box-shadow: 0 0 4px rgba(0, 0, 0, 1%), 0 14px 20px rgb(0, 0, 0, 2%),
      0 20px 28px rgb(0, 0, 0, 1%);
    --box-shadow-thin: 0 0 6px rgb(0 0 0/5%), 0 6px 10px rgb(0 0 0/4%),
      0 4px 10px rgb(0 0 0/1%);
    --box-shadow-hover: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px,
      rgba(78, 81, 183, 0.4) 0px 2px 16px;
    --box-shadow-carousel-btn: rgb(var(--carousel-btn)) 0px 0px 20px 0px;
    /* =========== end of default theme variables =========== */

    .theme-portfolio {
      background-image: linear-gradient(62deg, #c7c1ff, #ddc8ff);
      animation: portfolio-gradient 20s ease infinite;
    }
  }

  @keyframes portfolio-gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  body[data-theme="light"] {
    /* extends :root  */
    .theme-portfolio {
      background-image: linear-gradient(62deg, #bbafff, #d1b4ff);
      animation: portfolio-gradient 10s ease infinite;
      background-size: 400% 400%;
    }
  }

  body[data-theme="dark"] {
    --background: var(--theme-background-dark);
    --foreground: 210 40% 98%;

    --card: 47, 48, 87;
    --card-foreground: 188, 190, 213;

    --primary: 170, 179, 255;
    --primary-foreground: 223, 223, 233;

    --secondary: 75, 81, 159;
    --secondary-foreground: 170, 179, 255;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 24 25 50;
    --accent-foreground: var(--primary);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--primary), 0.5;
    --input: var(--secondary);
    --ring: var(--secondary), 0.5;

    --button-hover: 54, 56, 128;
    --carousel-btn: 151, 152, 212;

    --box-shadow: 0 0 4px rgba(0, 0, 0, 1%), 0 14px 20px rgb(0, 0, 0, 2%),
      0 20px 28px rgb(0, 0, 0, 1%);
    --box-shadow-thin: 0 0 6px rgb(0 0 0/5%), 0 6px 10px rgb(0 0 0/4%),
      0 4px 10px rgb(0 0 0/1%);
    --box-shadow-hover: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px,
      rgba(78, 81, 183, 0.4) 0px 2px 16px;
    --box-shadow-carousel-btn: rgb(var(--carousel-btn)) 0px 0px 20px 0px;

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #0c1038,
        #1d0b3f,
        #0d2d46,
        #0f132e
      );
      animation: portfolio-gradient 20s ease infinite;
    }
  }

  body[data-theme="link"] {
    --background: var(--theme-background-link);

    --card: 255, 255, 255;
    --card-foreground: 115, 115, 115;

    --primary: 42, 70, 176;
    --primary-foreground: 0, 0, 0;

    --secondary: 51, 93, 210;
    --secondary-foreground: 42, 70, 176;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 243, 245, 251;
    --accent-foreground: var(--primary);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--primary), 0.5;
    --input: var(--secondary);
    --ring: var(--secondary), 0.5;

    --button-hover: 35, 65, 147;
    --carousel-btn: 151, 152, 212;

    --box-shadow: 0 0 4px rgba(0, 0, 0, 1%), 0 14px 20px rgb(0, 0, 0, 2%),
      0 20px 28px rgb(0, 0, 0, 1%);
    --box-shadow-thin: 0 0 6px rgb(0 0 0/5%), 0 6px 10px rgb(0 0 0/4%),
      0 4px 10px rgb(0 0 0/1%);
    --box-shadow-hover: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px,
      rgba(78, 81, 183, 0.4) 0px 2px 16px;
    --box-shadow-carousel-btn: rgb(var(--carousel-btn)) 0px 0px 20px 0px;

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #e6ecff,
        #bed6ec,
        #a8c6ff,
        #d6e1ff
      );
      animation: portfolio-gradient 16s ease infinite;
    }
  }

  body[data-theme="tokemat"] {
    --background: var(--theme-background-tokemat);

    .theme-portfolio {
      background-image: linear-gradient(-45deg, #071d04, #192709, #011409);
      animation: portfolio-gradient 18s ease infinite;
    }
  }

  body[data-theme="green"] {
    --background: var(--theme-background-green);

    .theme-portfolio {
      background-image: linear-gradient(-45deg, #daecd3, #92d38c, #c7e9c7);
      animation: portfolio-gradient 10s ease infinite;
    }
  }

  body[data-theme="bitcoin"] {
    --background: var(--theme-background-bitcoin);

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #fff1c5,
        #ffe1a1,
        #ffecd4,
        #f7e4af
      );
      animation: portfolio-gradient 20s ease infinite;
    }
  }

  body[data-theme="sakura"] {
    --background: var(--theme-background-sakura);

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #fef2ff,
        #ffd3fd,
        #fad3ea,
        #ebcff3
      );
      animation: portfolio-gradient 12s ease infinite;
    }
  }

  body[data-theme="white"] {
    --background: var(--theme-background-white);

    .theme-portfolio {
      background-image: linear-gradient(-45deg, #ddd, silver, #cacaca, #727272);
      animation: portfolio-gradient 20s ease infinite;
    }
  }

  body[data-theme="black"] {
    --background: var(--theme-background-black);

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #181818,
        #353535,
        #222,
        #0e0e0e
      );
      animation: portfolio-gradient 20s ease infinite;
    }
  }

  body[data-theme="punk"] {
    --background: var(--theme-background-punk);

    .theme-portfolio {
      background-image: linear-gradient(
        -45deg,
        #41003e,
        #200049,
        #0b002e,
        #0a002b
      );
      animation: portfolio-gradient 12s ease infinite;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow:
      rgba(0, 0, 0, 0.99) 0px 1px 5px,
      rgba(0, 0, 0, 0.9) 0px 1px 4px;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
